// Colors
$color-dark : #262626;
$color-black: #000;
$color-white: #fff;
$color-yellow-primary: #d3ab55;
$color-white-secondary : #bbb;

// Fonts
$font-dancingScript: "Dancing Script",
cursive;
$font-josefinSans: "Josefin Sans",
sans-serif;
$font-nunito: "Nunito",
sans-serif;

// Mixins
@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

%fullSpace {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-dark;
}

// Start Scroll Region
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $color-white-secondary; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-yellow-primary; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  // End Scroll Region