.hamburger-menu{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 300;

    .menu{
        @extend %fullSpace;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform .5s;

        &-line{
            width: 100%;
            height: 4px;
            background-color: $color-yellow-primary;
            transition: all .5s .5s;
            transform-origin: right;
        }
    }
}

.logo {
    @include flexCenter;
    font-size: 70px;
    color: $color-yellow-primary;
    width: 110px;
    height: 110px;
    margin-right: 20px;
    border: 3px solid $color-yellow-primary;
    border-radius: 50%;
}

.main-name {
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-white-secondary;
    @include textStyles;
}

.sub-name {
    font-family: $font-josefinSans;
    font-size: 18px;
    color: $color-white-secondary;
    text-align: center;
    @include textStyles;
}

.main-heading {
    font-family: $font-dancingScript;
    font-size: 100px;
    font-weight: 300;
    color: $color-yellow-primary;
    margin-bottom: 40px;
}

.sub-heading {
    font-family: $font-josefinSans;
    font-size: 60px;
    font-weight: 300;
    color: $color-white-secondary;
    margin-bottom: 80px;
}

.main-btn {
    width: 170px;
    height: 45px;
    font-family: $font-josefinSans;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-yellow-primary;
    background-color: transparent;
    border: 1px solid $color-yellow-primary;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        background-color: $color-yellow-primary;
        color: $color-dark;
    }
}

.card {
    width: 33.3333%;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay {
        left: 0;
    }

    &-overlay {
        @extend %fullSpace;
        @include flexCenter;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        color: $color-white;
        background-color: rgba($color-yellow-primary, .6);
        z-index: 10;
        transition: left .5s;

        &-heading {
            font-family: $font-nunito;
            font-size: 30px;
            @include textStyles;
        }

        &-paragraph {
            font-family: $font-nunito;
            font-size: 15px;
            margin-bottom: 30px;
            @include textStyles;
        }

        &-btn {
            width: 150px;
            height: 40px;
            color: $color-yellow-primary;
            background-color: $color-white;
            font-family: $font-dancingScript;
            font-size: 20px;
            border: 1px solid $color-yellow-primary;
            border-radius: 30px;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: $color-dark;
                color: $color-yellow-primary;
            }
        }
    }

    &-img {
        @extend %fullSpace;
        object-fit: cover;
        opacity: 0.5;
    }
}