.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            right: -50vw;
            transition: right 0.8s cubic-bezier(1, 0, 0, 1);

            .right-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;
            }

            .right-img-1 {
                top: 15%;
                right: 15%;
            }

            .right-img-2 {
                top: 35%;
                right: 25%;
            }

            .right-img-3 {
                top: 55%;
                right: 35%;
            }
        }

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            left: -50vw;
            @include flexCenter;
            transition: left 0.8s cubic-bezier(1, 0, 0, 1);
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-josefinSans;
                font-size: 50px;
                @include textStyles;
                color: $color-white-secondary;
                text-decoration: none;
                display: block;
                margin: 25px;
                text-align: center;
                transition: all .5s;

                &:hover {
                    color: $color-yellow-primary;
                    letter-spacing: 4px;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left{
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right{
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu{
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1{
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2{
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3{
    transform: rotateZ(40deg);
}

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;

    .brand {
        @include centering(15%);
        display: flex;
        align-items: center;
    }

    &-banner {
        text-align: center;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-right {
        width: 40%;

        img {
            width: 80%;
            opacity: .7;
        }
    }

    &-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 80px;
        box-sizing: border-box;

        .main-heading {
            font-size: 40px;
            margin-bottom: 20px;
        }

        .sub-heading {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .stars {
            margin: 30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-yellow-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-josefinSans;
            font-size: 20px;
            color: $color-white-secondary;
            text-align: justify;
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexCenter;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-white-secondary;
            transition: color .7s;

            &:hover {
                color: $color-yellow-primary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-dancingScript;
        font-size: 20px;
        color: $color-white-secondary;
    }
}